@model BreadSpread.Web.Models.GroupDetailViewModel

@{
    ViewBag.Title = "BreadSpread - Edit Group";
}

<h2>Edit Group</h2>

<p>
	<div class="col-md-6">
		@using (Html.BeginForm())
		{
				@Html.AntiForgeryToken()

				<div class="form-horizontal wrapped">
					<h4>Group</h4>
					<hr />
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					@Html.HiddenFor(model => model.Id)

					<div class="form-group">
						@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "groupName" } })
							@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
						</div>
					</div>

					@*<div class="form-group">
								@Html.LabelFor(model => model.PhotoId, htmlAttributes: new { @class = "control-label col-md-2" })
								<div class="col-md-10">
										@Html.EditorFor(model => model.PhotoId, new { htmlAttributes = new { @class = "form-control" } })
										@Html.ValidationMessageFor(model => model.PhotoId, "", new { @class = "text-danger" })
								</div>
						</div>*@

					@*<div class="form-group">
								@Html.LabelFor(model => model.CreatedTime, htmlAttributes: new { @class = "control-label col-md-2" })
								<div class="col-md-10">
										@Html.DisplayFor(model => model.CreatedTime)
										@Html.ValidationMessageFor(model => model.CreatedTime, "", new { @class = "text-danger" })
								</div>
						</div>*@
					@Html.HiddenFor(m => m.PhotoId)
					@Html.HiddenFor(m => m.CreatedTime)

					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<input type="submit" value="Save" class="btn btn-default" />
						</div>
					</div>
				</div>
		}
	</div>

	<div class="wrapped col-md-6">
		<h4>Members:</h4>
		<table class="userTable">
			@foreach (BreadSpread.Web.Models.GroupUserViewModel user in Model.Users)
			{
					<tr>
						<td>
							@user.Name
						</td>
						<td>
							@if (!user.IsOwner)
							{
									<button type="button" class="removeUser my_popup_open" id='@("user-" + user.Id)'>Remove</button>
							}
						</td>
					</tr>
			}
		</table>
	</div>
</p>

<div class="col-md-12">
    @Html.ActionLink("Back to List", "Index")
</div>

<div id="my_popup" class="popup" style="background-color:white; padding:2em;">

	<p>
		Are you sure you want to remove user <span id="popupUserName"></span> from group <span id="popupGroupName"></span>?
	</p>

	<!-- Add an optional button to close the popup -->
	<button id="popupYes" class="my_popup_close">Remove</button>
	<button id="popupNo" class="my_popup_close">Cancel</button>

</div>

@section scripts
{
	<script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>
	
	<script>
		$(function () {
			$("#my_popup").popup();
			$(".removeUser").each(function (i, obj) {
				$(obj).click(function () {
					$("#popupYes").unbind("click");
					$("#popupUserName").text($(obj).parent().prev().text());
					$("#popupGroupName").text($("#groupName").val());
					$("#popupYes").click(function () {
						$.ajax()
						alert($(obj).attr("id"));
					});
				});
			});
		});
	</script>
}