@model IEnumerable<BreadSpread.Web.Models.GroupViewModel>

@{
	ViewBag.Title = "BreadSpread - My Groups";
}

<h2>@ViewBag.Title</h2>

<p>
	@Html.ActionLink("Create New Group", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.OwnerName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.UserCount)
		</th>
		@*<th>
			@Html.DisplayNameFor(model => model.PhotoId)
		</th>*@
		<th>
			@Html.DisplayNameFor(model => model.CreatedTime)
		</th>
		<th>
			Actions
		</th>
	</tr>

@foreach (var item in Model)
{

	<tr>
		<td>
			@Html.ActionLink(item.Name, item.IsOwner ? "Edit" : "Details", new { id = item.Id })
		</td>
		@*<td>
			@Html.DisplayFor(modelItem => item.PhotoId)
		</td>*@
		<td>
			@Html.DisplayFor(modelItem => item.OwnerName)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.UserCount)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.CreatedTime)
		</td>
		<td>
			@*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
			@*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@

			@Html.ActionLink("Invite", "Invite", new { id = item.Id })
			&nbsp;|&nbsp;

			@if (item.IsOwner)
			{
				@Html.ActionLink("Delete", "Delete", new { id = item.Id })
			}
			else
			{
				@Html.ActionLink("Leave Group", "Leave", new { id = item.Id })
			}
		</td >
	</tr >

}

</table>
