@model BreadSpread.Web.Models.GroupInviteViewModel
@{
    ViewBag.Title = "BreadSpread - Invite";
}

<h2>Send Invitation for @Model.GroupName</h2>

<div class="row">
	<div class="col-md-8">
		@using (Html.BeginForm("Invite", "Group", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
		{
				@Html.AntiForgeryToken()
				@Html.HiddenFor(m => m.GroupId)
				@Html.HiddenFor(m => m.FromUsername)

				<h4>Invite another person to the group with their username or email address.</h4>
				<hr />
				@Html.ValidationSummary("", new { @class = "text-danger" })
				<div class="form-group">
					@Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" class="btn btn-default" value="Register" />
					</div>
				</div>
		}
	</div>
</div>
