@model BreadSpread.Web.Models.CreateInviteViewModel

@{
    ViewBag.Title = "Invite";
}

<h2>Invite</h2>

@using (Html.BeginForm("SendInvite","Groups",FormMethod.Post, null))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.Group.Id)
	<div class="form-group">
		@Html.LabelFor(m => m.Email)
		@Html.EditorFor(m => m.Email, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Email)
		<input type="submit" value="Invite" class="btn btn-default" />
	</div>
}
